/food-control.iml
.idea/compiler.xml
.idea/encodings.xml
.idea/kotlinc.xml
.idea/misc.xml
.idea/sonarlint.xml
.idea/sonarlint/issuestore/index.pb
.idea/sonarlint/issuestore/4/4/442292b8a7efeabbe4cc176709b833b1792140ec
.idea/sonarlint/securityhotspotstore/index.pb
.idea/sonarlint/securityhotspotstore/4/4/442292b8a7efeabbe4cc176709b833b1792140ec
